.outer {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.inner {
    width: 100%;
    padding: 30px 20px;
    overflow: scroll;
    position: relative;
}