// color
$blue_dark: #041956;
$blue_light: #006FCF;
$black: #000000;
$white: #FFFFFF;
$grey: #ECECEC;

:export {
    blue_dark: $blue_dark;
    blue_light: $blue_light;
    black: $black;
    white: $white;
    grey: $grey;
}